// html, body {
// padding: 2em;

// }


.page-wrapper{
// background-color: gray;
// padding: 2em;
// height: 100%;

display: grid;
grid-template-rows: 70px 1fr auto 50px;

}

header{
background-color: plum;
border: 1px solid white;
}


.featured header{
background-color: purple;
border: 1px solid white; 
}

.content-wrapper{
background-color: palevioletred;
border: 1px solid white;
// grid-template-rows: 150px 1fr;
display: grid;
grid-template-columns: 150px 1fr;


}

.content-area{
background-color: palegoldenrod;
border: 1px solid white;

}

.featured{
background-color: maroon;
border: 1px solid white;

}

footer{
background-color: orange;
border: 1px solid white;

}


